# Default ignored files
!.gitignore
.idea/
*target/
*test-output/
studyTestNG/test-output/
studyTestNG/target/
studyTestNG/studyTestNG.iml
studyHttpClient/studyHttpClient.iml
studySpringBoot/studySpringBoot.iml